
@using System.Data
@model DataTable

@{
    ViewBag.Title = "Książka Telefoniczna - Goodyear Polska";
}

<main>
    <section class="row" aria-labelledby="systemTitle" style="background-color: #f8f9fa; padding: 30px; border-radius: 10px; margin-top: 20px;">
        <div class="col-md-12">
            <h1 id="systemTitle">System Telefoniczny GY</h1>
            <p class="lead">Wyszukiwanie numerów, pracowników oraz działów firmy Goodyear Polska.</p>
        </div>
    </section>

    <hr />

    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="col-md-12">
            @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "form-inline" }))
            {
                <div class="input-group" style="width: 100%;">
                    <input type="text"
                           name="szukanaFraza"
                           class="form-control"
                           placeholder="Wpisz nazwisko pracownika lub nazwę działu..."
                           style="max-width: 100%;" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">
                            <i class="glyphicon glyphicon-search"></i> Szukaj
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Lista Pracowników</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Imię</th>
                                <th>Nazwisko</th>
                                <th>Stanowisko</th>
                                <th>Dział (Skrót)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Rows.Count > 0)
                            {
                                foreach (DataRow wiersz in Model.Rows)
                                {
                                    <tr>
                                        <td>@wiersz["Imie"]</td>
                                        <td>@wiersz["Nazwisko"]</td>
                                        <td>@wiersz["Stanowisko"]</td>
                                        <td>@wiersz["NazwaDzialu"] (@wiersz["SkroconaNazwa"])</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4" class="text-center">Brak wyników do wyświetlenia. Dodaj dane w bazie SQL lub zmień kryteria wyszukiwania.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>









@*<main>
        <section class="row" aria-labelledby="aspnetTitle">
            <h1 id="title">ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
        </section>

        <div class="row">
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <h2 id="gettingStartedTitle">Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </section>
            <section class="col-md-4" aria-labelledby="librariesTitle">
                <h2 id="librariesTitle">Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </section>
            <section class="col-md-4" aria-labelledby="hostingTitle">
                <h2 id="hostingTitle">Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </section>
        </div>
    </main>*@