
@model SystemTelefonicznyGY.Models.LogowanieModel

@{
    ViewBag.Title = "Logowanie Goodyear";
}

<div class="row" style="margin-top: 50px;">
    <div class="col-md-offset-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Panel Logowania Pracownika</div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        <label>Login:</label>
                        @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Hasło:</label>
                        @Html.PasswordFor(m => m.Haslo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Haslo, "", new { @class = "text-danger" })
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Zaloguj mnie</button>
                    <p class="text-danger">@Html.ValidationSummary(true)</p>
                }
            </div>
        </div>
    </div>
</div>
